@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Shadows+Into+Light&display=swap');

.navdesafio{
    text-align: right;
    color:black;  
    background-color: darkgrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.accesos{
    text-decoration: none;
    color: darkslateblue;
    font-family: 'Inter', sans-serif;
    padding: 0.4%;
}

.pie{
    color:rgb(29, 64, 221);
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: darkgrey;   
}

.imagen{
    width: 70px;
    height: 70px;
}
 .seccion{
     width: 800px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 0.5cm;
 }