*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color: lavender;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  header{
      background-color: cyan;
  }
  footer{
      background-color: yellow;
      margin-top: auto;
  }
